<% title 'People' %>
<% page_header 'Registered Users' %>

<div class="list-group center">
  <% @users.each do |user| %>
    <%= link_to user.full_name, user_path(user.id), class: 'list-group-item list-group-item-action' %>
  <% end %>
</div>