<% title "About" %>
<% page_header "About" %>

<p>
  This is a sample application developed by <%= link_to 'Neemias Freitas', 'https://github.com/neemiasvf' %>
  for the <%= link_to 'Backend Challenge', 'https://code.rhsoftware.dev/snippets/2' %>
  from <%= link_to 'RH Software', 'http://www.rhsoftware.com.br/' %>.
</p>
